/*div,td{padding:1px;margin:1px;border:solid 1px #000;}*/
body{margin:0px;background:#f4f4f4;font-family:Segoe UI;color:#333;}

*{-webkit-transition:background 0.3s,padding 0.3s,margin 0.3s;-moz-transition:background 0.3s,padding 0.3s,margin 0.3s;position:relative;}

a{text-decoration:none;}

/*
@keyframes myfirst
{
from {background: red;}
to {background: yellow;}
}

@-moz-keyframes myfirst  Firefox 
{
from {background: red;}
to {background: yellow;}
}

@-webkit-keyframes myfirst  Safari and Chrome 
{
from {background: red;}
to {background: yellow;}
}

@-o-keyframes myfirst  Opera 
{
from {background: red;}
to {background: yellow;}
}
div
{
animation: myfirst 5s;
-moz-animation: myfirst 5s;
-webkit-animation: myfirst 5s; 
-o-animation: myfirst 5s; 
*/

hr{border:dashed 1px #999;margin-right:20px;}

.divSearch input{width:100%;padding:6px;}

td{vertical-align:top}

input[type=button]{color:#444;}

input[type=submit],
.button{
	color:#fff;
	border:solid 1px #0561b4;
	padding:8px;
}
input[type=submit],
.button:{

}
input[type=submit]:hover,
input[type=button]:hover,.button:hover{
	cursor:pointer;
}

input[type=text],
input[type=password],
input[type=date],
select,
textarea,input[type=button],
input[type=submit],
.button{
	padding:8px;
	border-radius:3px;
	border:solid 1px #888;
}

textarea{
	font-size:11pt;
	border:solid 1px #ccc;
	font-family:Segoe UI;
	width:420px;
	max-width:650px;
	height:100px;
	max-height:200px;
	line-height:2;
	text-align:justify;
}

.effect {
	border:1px solid rgba(0,0,0,0.1); border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
	box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
#admin-nav {
	position:fixed;
	width:250px; height:100%;
	background:#043C6B;
	color:#fff;
	z-index:999;
}

.side-nav {
	margin:0px; height:40px;
	display:block;
	padding-left:20px;
	line-height:40px;
	color:#fff;
	font-size:13pt;
}

.side-nav:hover {
	background:#ffb400;
	transition:background 0.3s;
	-moz-transition:background 0.3s;
	-webkit-transition:background 0.3s;
	-o-transition:background 0.3s;
}

/* Navigasi - Sub */
.sub-side-nav {
	margin:0px; height:40px;
	display:block;
	padding-left:20px;
	line-height:40px;
	background:#333;
	color:#fff;
	font-size:10pt;
}

.sub-side-nav:hover {
	background:#ffb400;
	transition:background 0.3s;
	-moz-transition:background 0.3s;
	-webkit-transition:background 0.3s;
	-o-transition:background 0.3s;
}

.statusicon {font-weight:bold; position:absolute; right:0; margin-right:20px; }

/*left content*/
.tableLeft{width:250px;color:#fff;background:#043c6b;}

.dLogo{font-size:20pt;padding:14px;}

/*right content*/
.tableRight{margin-left:0px;}

/*link*/
.linkLeft{padding:6px;color:#fff;background:#333;}
.linkRight{text-align:right;background:#333;}
.linkRight a{display:inline-block;padding:11px;font-size:8pt;color:#fff;}

/*main*/
.panel{padding:20px;}
.mainTitle{font-size:22pt;margin-bottom:20px;}
.tdMain{width:66%;}
.tdMainTitle:first-child{margin-top:0px;}
.tdMainTitle{padding:10px;font-size:13pt;color:#fff;margin-top:15px;background:#043C6B;}
.tdMainContent{border-top:none;}

.list-1{
	border:solid 5px rgba(0,0,0,.13);
}

.list-1 th{
	background:#043c6b;
	padding:10px;
	text-align:left;
	color:#fff;
}

.list-1 td{padding:5px;font-size:9pt;line-height:2;}
.list-1 .a td{
	background:rgba(230,230,230,.3);
	border-left:solid 1px #aaa;
	border-right:solid 1px #aaa;
}

.list-1 .a:last-child td{border-bottom:solid 1px #aaa;}

.list-1 .b td{
	background:rgba(255,255,255,1);
	border:solid 1px #aaa;
}

.list-1 .a:hover td,
.list-1 .b:hover td{
	background:#ffb400;
	padding-left:20px;
}

.list-1 .alert td{
	text-align:center;
	background:rgba(255,50,0,.25);
}

.status{font-size:11pt;color:#444;margin-bottom:20px;}

.greyText{color:#777;}

.f10{font-size:10pt;}
.f12{font-size:12pt;position:relative;}

.relative{position:relative;}

.back{
	width:31px;
	height:31px;
	display:block;
	position:relative;
	top:5px;
	background:url('../img/seeDetail.png');
}
.back:hover{
	background:url('../img/seeDetailHover.png');
}

.link{
	text-decoration:none;
	color:#fff;
	display:inline-block;
	font-size:10pt;
	border:solid 1px #888;
	padding:5px;
	border-radius:3px;
	background:#043C6B;
}
.whiteLink{
	background:-webkit-linear-gradient(top,#fff,#eee);
	background:-moz-linear-gradient(top,#fff,#eee);
	border:solid 1px #aaa;
	color:#333;
	padding:1px 5px 1px 5px;
	border-radius:5px;
}

.blueButton{
	background:-webkit-linear-gradient(top,#4792d7,#076ecd);
	background:-moz-linear-gradient(top,#4792d7,#076ecd);
	color:#fff;
	padding:3px 10px;
	border-radius:5px;
	display:inline-block;
	text-align:center;
	position:relative;
}
.radius{
	border-radius:5px;}

.box{
	width:135px;
	padding:10px;
	margin-bottom:9px;
	background:-webkit-linear-gradient(top,#fff,#eee);
	background:-moz-linear-gradient(top,#fff,#eee);
	border:solid 2px #ccc;
	color:#444;
	text-shadow:0px 0px 2px #eee;
	font-size:12pt;
	text-align:center;
	min-height:33px;
}
.box:hover{cursor:pointer;}

.point:hover{cursor:pointer;}

.left{float:left;}

.right{float:right;display:block;}

.i{font-style:italic;}
	
/*detailContent*/
.contentTitle{padding:10px 0px;font-size:14pt;}
.contentImageBorder{padding:5px;border:solid 1px #888;}
.contentImage{overflow;scroll}
.contentDetail{color:#777;font-size:10pt;text-align:right;padding:12px 0px;}
.contentMain{padding-left:10px;}
.contentSubtitle{font-size:14pt;margin-bottom:10px;}
.contentDesc{font-size:11pt;color:#555;line-height:2;text-align:justify}

.contentPropBox{margin-bottom:10px;margin-right:10px;padding:10px;width:50%;}
.contentProperty{font-size:14px;color:#888;}
.contentValue{font-size:22px;color:#0093dd;font-family:segoe UI light;font-weight:bold;}


.tdSideTitle{font-size:15pt;padding:10px;}
.tdSideContent td{padding:5px;font-size:12pt;}

.column3{margin:0px;width:32.4%;padding-right:20px;padding-bottom:20px;}
.column3:last-child{padding-right:0px;}


.column21{width:66%;}


.column2{width:50%;padding-right:20px;}
.column2:last-child{padding-right:0px;}

.form-1 table td { padding:5px;vertical-align:top;}

.form-1 label { color:#333; }

.form-1 input[type=text],
.form-1 input[type=password],
.form-1 input[type=button],
.form-1 input[type=date] {
	padding:5px 8px;
	border-radius:2px;
	border:1px solid #ccc;
	color:#555;
	background:#fff;
}

.form-1 .fotoEdit{
	max-height:300px;
	min-height:100px;
	max-width:300px;
	min-width:100px;
}

.form-1 textarea{min-width:500px;min-height:193px;font-size:10pt;color:#555;}

.form-1 select {
	padding:5px 8px;
	border-radius:2px;
	border:1px solid #ccc;	
	color:#555;
}

.form-1 input[type=submit],
.form-1 input[type=reset]{
	font-size:9pt;
	font-style:italic;
	background:#0B5FA5;
	color:#fff;
}

.dSide:first-child{margin-top:0px;}
.dSide{background:#ebebeb;margin-top:15px;
	border-radius:5px;}
.dTitleS{font-size:13pt;padding:10px;padding-bottom:0px;font-weight:bold;color:#444;}
.dMainS{padding:10px;}
.dListS{list-style-type:dotted;margin-top:0px;line-height:1.5;}


/*div no border*/
.dTitleN{font-weight:bold;font-size:14pt;line-height:2;margin-top:-7px;}
.dContentN{line-height:2;font-size:10pt;}
.dDetailN{line-height:2;font-size:10pt;margin-top:-7px;}
.dImageN{width:100px;height:100px;overflow:hidden;}
 
/*form*/
.fTitle:first-child{margin-top:0px;}
.fTitle{font-size:13pt;color:#444;margin-bottom:4px;margin-top:19px;}
.fSub td{font-size:10pt;color:#888;}

/*div navList*/
.dNList{padding:4px 0px;}

/*table list*/
.tList{}
.tHeadL td{font-weight:bold;font-size:11pt;padding:12px;}
.tFootL td{border:solid 1px #d6e9c6;border-bottom:none;border-left:none;border-right:none;border-top:solid 2px #666;font-weight:bold;font-size:12pt;padding:12px;}

.dAlert{background:#d9edf7;color:#3a87ad;padding:12px;border:solid 1px #bce8f1;text-align:center;font-size:11pt;
	border-radius:5px;}

/*horizontal rule*/
.hBig{margin:15px 0px 45px 0px;}

/*div main middle*/
.tMainM{padding:15px;width:1040px;}
.tMainM:last-child{padding-left:0px;}
/*div main table*/
.dMainTab{border-left:solid 1px #ccc;}
